.SortingVisualizer {
    display: flex;
    flex-direction: column;
}

.array-container {
    margin-bottom: 30px;
    min-width: 1300px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.array-bar {
    flex: 1 1 0;
    min-width: 20px;
    margin: 5px 1px;
    color: black;
}

.buttomRow {
    position: relative;
}
